:root {
  --md-sys-color-primary: rgb(153 204 249);
  --md-sys-color-surface-tint: rgb(153 204 249);
  --md-sys-color-on-primary: rgb(0 51 81);
  --md-sys-color-primary-container: rgb(6 75 114);
  --md-sys-color-on-primary-container: rgb(204 229 255);
  --md-sys-color-secondary: rgb(217 186 250);
  --md-sys-color-on-secondary: rgb(61 36 89);
  --md-sys-color-secondary-container: rgb(85 59 113);
  --md-sys-color-on-secondary-container: rgb(239 219 255);
  --md-sys-color-tertiary: rgb(132 210 230);
  --md-sys-color-on-tertiary: rgb(0 54 64);
  --md-sys-color-tertiary-container: rgb(0 78 92);
  --md-sys-color-on-tertiary-container: rgb(171 237 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(16 20 24);
  --md-sys-color-on-background: rgb(224 226 232);
  --md-sys-color-surface: rgb(16 20 24);
  --md-sys-color-on-surface: rgb(224 226 232);
  --md-sys-color-surface-variant: rgb(66 71 78);
  --md-sys-color-on-surface-variant: rgb(194 199 206);
  --md-sys-color-outline: rgb(140 145 152);
  --md-sys-color-outline-variant: rgb(66 71 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 226 232);
  --md-sys-color-inverse-on-surface: rgb(45 49 53);
  --md-sys-color-inverse-primary: rgb(44 99 139);
  --md-sys-color-primary-fixed: rgb(204 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 29 49);
  --md-sys-color-primary-fixed-dim: rgb(153 204 249);
  --md-sys-color-on-primary-fixed-variant: rgb(6 75 114);
  --md-sys-color-secondary-fixed: rgb(239 219 255);
  --md-sys-color-on-secondary-fixed: rgb(39 13 67);
  --md-sys-color-secondary-fixed-dim: rgb(217 186 250);
  --md-sys-color-on-secondary-fixed-variant: rgb(85 59 113);
  --md-sys-color-tertiary-fixed: rgb(171 237 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 38);
  --md-sys-color-tertiary-fixed-dim: rgb(132 210 230);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 78 92);
  --md-sys-color-surface-dim: rgb(16 20 24);
  --md-sys-color-surface-bright: rgb(54 58 62);
  --md-sys-color-surface-container-lowest: rgb(11 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 32);
  --md-sys-color-surface-container: rgb(28 32 36);
  --md-sys-color-surface-container-high: rgb(39 42 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}
